# env
.env
.env.local
.env.*.local

# Next.js
.next/
out/
build/

# Node
node_modules/
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db
